* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-image: url(../../assets/images.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.562);
  background-blend-mode: lighten;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-attachment: fixed;
  background-position: center center;
}
